.idea/

worker/__pycache__/
worker/*/__pycache__/
worker/*/*/__pycache__/
worker/*/*/*/__pycache__/
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/*/*/*/__pycache__/
frontend/app/node_modules

.env*
!.env*.example
backend/.env*
!backend/.env*.example
worker/.env*
!worker/.env*.example
