# Factor ESB
FESB_API_USER=
FESB_API_PASSWORD=
FESB_HOST=https://fesb.example.com
FESB_PORT=443
FESB_MESSAGE_LOG_ENDPOINT=
FESB_MESSAGE_ERROR_DETAILS_ENDPOINT=
FESB_TZ=Europe/Moscow
MESSAGE_STATUS_UPDATER_DELAY=120

# SMTP
SMTP_SENDER_EMAIL=
SMTP_SERVER=
SMTP_PORT=587
SMTP_PASSWORD=
